<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <!-- 引入数据库连接配置文件 -->
    <properties resource="db.properties"></properties>


    <settings>
        <!-- 打印 SQL 语句 -->
        <setting name="logImpl" value="STDOUT_LOGGING" />

        <!-- 设置驼峰命名规则 将数据库的字段jj_kk 自动映射到POJO 的jjKk 属性 -->
        <!-- 设置org.apache.ibatis.session.Configuration 的属性 mapUnderscoreToCamelCase-->
        <!--<setting name="mapUnderscoreToCamelCase" value="true"/>-->

        <!-- 打开延迟加载的开关 -->
        <setting name="lazyLoadingEnabled" value="true"/>
        <!-- 将积极加载改为消极加载即按需加载 -->
        <setting name="aggressiveLazyLoading" value="false"/>

        <!-- 获取自增主键 全局配置 但是insert中还是要配 keyProperty="id" -->
        <!--<setting name="useGeneratedKeys" value="true"/>-->

        <!-- 获取自增主键 全局配置 但是insert中还是要配 keyProperty="id" -->
        <setting name="useGeneratedKeys" value="true"/>
    </settings>

    <!-- 定义类的别名 -->
    <typeAliases>
        <!-- 在映射文件中使用别名 -->
        <!--<typeAlias type="com.feifan.pojo.User" alias="User"/>-->
        <!-- 多个类，可以通过配置包扫描 默认别名为类名 -->
        <package name="com.example.my.shop.mybatis.entity"/>
    </typeAliases>


    <!-- 多个 开发环境，测试环境，选择开发环境 -->
    <environments default="production">
        <environment id="development">
            <!--决定事务作用域和控制方式的事务管理器（TransactionManager)  -->
            <transactionManager type="JDBC"></transactionManager>
            <!-- 数据源采用连接池POOLED/UNPOOLED -->
            <dataSource type="POOLED">
                <property name="driver" value="${jdbcDriver}"/>
                <property name="url" value="${jdbcUrl}"/>
                <property name="username" value="${jdbcUser}"/>
                <property name="password" value="${jdbcPassword}"/>
            </dataSource>
        </environment>
        <!-- 测试环境 C3P0连接池 -->
        <environment id="test">
            <transactionManager type="JDBC"></transactionManager>
            <dataSource type="com.example.my.shop.mybatis.utils.C3P0DatasourceFactory">
                <property name="driverClass" value="${jdbcDriver}"/>
                <property name="jdbcUrl" value="${jdbcUrl}"/>
                <property name="user" value="${jdbcUser}"/>
                <property name="password" value="${jdbcPassword}"/>
                <property name="initialPoolSize" value="5"/>
                <property name="maxPoolSize" value="20"/>
                <property name="minPoolSize" value="5"/>
            </dataSource>
        </environment>

        <!-- 生产环境 -->
        <environment id="production">
            <transactionManager type="JDBC"></transactionManager>
            <dataSource type="com.example.my.shop.mybatis.utils.DruidDataSourceFactory">
                <property name="driverClassName" value="${jdbcDriver}"/>
                <property name="url" value="${jdbcUrl}"/>
                <property name="username" value="${jdbcUser}"/>
                <property name="password" value="${jdbcPassword}"/>
            </dataSource>
        </environment>

    </environments>
    <!-- 定义映射文件 -->
    <mappers>
        <!-- sql映射文件的路径 -->
        <!-- <mapper resource="com/feifan/mapper/UserMapper.xml"/>
        <mapper resource="com/feifan/mapper/tbUserMapper.xml"/>  -->
        <!-- 也可以通过配置接口的包扫描，但是xml文件路径要和接口的包路径一样-->
        <package name="com.example.my.shop.mybatis.mapper"/>
    </mappers>
</configuration>
